*{
    padding: 0;
    margin: 0; 
}
 
.container { 
    max-width: 1300px;
    margin: 0 auto;   /* centers the content */
    padding: 10px;
}

/* Sections */
section {
  margin-top: 5rem;
  margin-bottom: 5rem; /* space between big blocks */
}

header {
  padding: 1rem 2rem; /* space around header */
}

h1, h2, h3, p, li, a, .svg-container text  {
    margin-bottom: 1rem;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: #181818
}

nav {
  display: flex;
  justify-content: flex-end; /* pushes links to the right */
  gap: 2rem; /* spacing between links */
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #8FBC8B; 
}

h1 {
   font-weight: 600;
   font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
}

li {
    margin-bottom: 0;
}

p, .about-me-details a, li {
    font-size: 1rem;
}

.svg-container text {
    font-size: 0.8rem;
}

.about-me-details a {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

/* feature work*/

.project-gallery {
    display: flex;
    gap: 5px;
}

.column {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.photo img{
    width: 100%;
    height: auto; 
    border-radius: 4px;
    object-fit: cover;
}

/*about me page */ 
/* Image + text side by side */
.about-me {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;   /* keep text aligned with top of image */
}

.about-me .photo {
    flex: 1;
}
.about-me-content {
  flex: 1;
}

ul {
  list-style: disc;
  margin-left: 20px; /* indent */
  padding-left: 20px;
  margin-bottom: 1rem;
}

.about-me-content p {
    font-size: 1rem;
}

/* Apply to all visualization containers */
.svg-container, .vega-container {
  
  margin-top: 20px;
  margin-bottom: 60px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  max-width: 1300px;    
  height: auto;         
  box-sizing: border-box;
  line-height: 0;
}

/* make the vegalite responsive */
.vega-container > div {
  height: auto !important; 
  width: 100% !important; 
}

/* svg responsiveness */
.svg-container svg, .vega-container svg {
  width: 100% !important;
  display: block;
  aspect-ratio: 3 / 1;
}

.vega-container svg {
  height: auto;
  aspect-ratio: 5 / 2;
}



/*make things responsive */

@media (max-width: 768px){
    .project-gallery{
        flex-direction: column;
    }

    .about-me {
    flex-direction: column; /* stack vertically */
    }

  .about-me .photo,
  .about-me-content {
    flex: none;   /* reset flex growth */
    width: 100%;  /* each takes full width */
    }
}